.ODD{
background-color: #DB7292;
font-family: Verdana;

}

#ID2{
font-size: 36px;
color: blue;

}
.third{
font-size: 24px;

}
#ID4{
    background-color: rgb(85, 179, 85);
    font-weight: bold;
    
    
    }